.error {
    font-size: 15px;
    color: red;
    text-align: initial;
    margin-bottom: -15px;
}

.btn {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    justify-content: space-between; 
}